---
const { link, caption, height } = Astro.props
---
<div class="container">
  <img height={height} src={link}>
  <p>{caption}</p>
</div>
<style>
 .container {
  padding: 20px;
  background-color: #e2e2e2;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid black;
 }
 img {
  object-fit: cover;
 }
 p {
  font-size: 1rem;
 }
</style>